<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/teacher/course/lesson/{lesson_id}/update(lesson_id=${lesson_id})}" th:object="${lesson}">
  <label for="name">Lesson name:</label>
  <input type="text" th:field="*{name}" id="name">
  </br>
  <label for="content">Content:</label>
  <input type="text" th:field="*{content}" id="content">
  </br>
  <input type="submit" value="Update lesson">
</form>
</body>
</html>