<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lessons</title>
    <script src="/js/jquery-2.2.3.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header__course">
            <div class="header__top">
                <div class="container">
                    <div class="header__top-inner">
                        <a class="header__logo logo" th:href="@{/homepage}">
                            <img src="/images/logos/EASYSTUDY.svg" alt="Logo">
                        </a>
                        <nav class="header__nav">
                            <ul class="header__nav-list">
                                <li class="header__nav-item">
                                    <a class="header__nav-link" href="#">About Us</a>
                                </li>
                                <li class="header__nav-item">
                                    <a class="header__nav-link" href="#">Courses</a>
                                </li>
                                <li class="header__nav-item">
                                    <a class="header__nav-link" href="#">Contacts</a>
                                </li>
                                <li class="header__nav-item">
                                    <a class="header__nav-link" href="#">Profile</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="header__btn-box">
                            <div class="header__user-nav">
                                <a class="header__user-btn" th:href="@{/homepage/profile}">Log in</a>
                                /
                                <a class="header__user-btn" th:href="@{/auth/registration}">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="main__lessons">
                <div class="container">
                    <div class="lessons__flex">
                        <div class="lessons__inner">
                            <h1 class="lessons__title" th:text="${subject.getName()}">
                                Subject name
                            </h1>
                            <form th:action="@{/homepage/courses/{subject_id}(subject_id=${subject.getSubject_id()})}" method="get">

                                <div class="search-container">
                                    <input type="text" name="keyword" th:value="${keyword}" class="search-input input--empty" placeholder="Search">
                                    <button type="submit" class="button-search">Search</button>
                                </div>

                                <div class="lessons__set">
                                    <a class="lessons__set-choise" href="#">
                                        <ul class="lessons__set-list">
                                            <div th:each="course : ${subject.getCourses()}">
                                                <li class="lessons__set-sub">
                                                    <a th:href="@{/homepage/course/{course_id}(course_id = ${course.getCourse_id()})}" th:text="${course.getName()}"></a>
                                                </li>
                                            </div>
                                        </ul>
                                    </a>
                                </div>
                            </form>
                        </div>
                        <img class="lessons__img" src="/images/language.svg" alt="">
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__top">
            <div class="container">
                <div class="footer__inner">
                <div class="footer__col">
                    <a class="footer__logo logo">
                    <img class="footer__logo" src="/images/EASYSTUDYf.svg" alt="logo">
                    </a>
                    <div class="footer__logo-text">
                        EasyStudy Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country. 
                    </div>
                </div>
                <div class="footer__col">
                    <h3 class="footer__title">
                        site map
                    </h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__item-link">About Us</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__item-link">Courses</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__item-link">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <h3 class="footer__title">
                        courses
                    </h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__item-link">Languages</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__item-link">Needlework</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__item-link">Programming</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <h3 class="footer__title">
                        contact us
                    </h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="footer__item-link" href="tel:+375172938616">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.66683 1.94857C5.11454 1.94857 4.66683 2.39628 4.66683 2.94857V13.0527C4.66683 13.605 5.11454 14.0527 5.66683 14.0527H10.3335C10.8858 14.0527 11.3335 13.605 11.3335 13.0527V2.94857C11.3335 2.39628 10.8858 1.94857 10.3335 1.94857H10.2779L10.1155 2.3382C10.012 2.58661 9.76928 2.74842 9.50016 2.74842H6.50016C6.23105 2.74842 5.98832 2.58661 5.8848 2.3382L5.72242 1.94857H5.66683ZM3.3335 2.94857C3.3335 1.6599 4.37817 0.615234 5.66683 0.615234H10.3335C11.6222 0.615234 12.6668 1.6599 12.6668 2.94857V13.0527C12.6668 14.3414 11.6222 15.3861 10.3335 15.3861H5.66683C4.37816 15.3861 3.3335 14.3414 3.3335 13.0527V2.94857Z" fill="white"/>
                                </svg>
                                +375 (17) 293 86 16
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__item-link" href="mailto:hello@easystudy.com">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1668 11.9993V4.66602C15.1668 3.56145 14.2714 2.66602 13.1668 2.66602L2.83349 2.66603C1.72893 2.66603 0.833496 3.56146 0.833496 4.66603V11.9993C0.833496 13.1039 1.72893 13.9993 2.8335 13.9993L13.1668 13.9993C14.2714 13.9993 15.1668 13.1039 15.1668 11.9993ZM13.8335 6.17232V11.9993C13.8335 12.3675 13.535 12.666 13.1668 12.666L2.8335 12.666C2.46531 12.666 2.16683 12.3675 2.16683 11.9993L2.16683 6.17223L6.87561 9.3742C7.55433 9.83573 8.44613 9.83573 9.12485 9.3742L13.8335 6.17232ZM13.8259 4.56509C13.7773 4.24479 13.5007 3.99935 13.1668 3.99935L2.83349 3.99936C2.49965 3.99936 2.22311 4.24476 2.17443 4.56501L7.62535 8.27164C7.8516 8.42548 8.14886 8.42548 8.3751 8.27164L13.8259 4.56509Z" fill="white"/>
                                </svg>
                                hello@easystudy.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </footer>
    </div>
</body>
<script src="/js/jquery-3.6.4.js"></script>
<script src="/js/main.js"></script>
</html>